.authhome{
    display: flex;
}

.leftSide{
    flex: 0.2;
    display: flex;
    flex-direction: column;

}

.rightSide{
    flex: 0.8;
}

.upload, .import{
    cursor: pointer;
}

.fileInput{
    display: none;
}