:root {
  background-color: #f5f5f5;
}
.authhome {
  display: flex;
  justify-content: space-between;
}

.leftSide {
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 1rem 1rem 0 0;
}

.rightSide {
  width: 100%;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.miniNav {
  display: flex;
  justify-content: space-between;
}

.sortView {
  display: flex;
  gap: 0.5rem;
}

.leftNavButton {
  display: flex;
  align-items: center;
  border: none;
  gap: 0.5rem;
  min-width: max-content;
  background-color: transparent;
  cursor: pointer;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.leftNavButton:hover {
  background-color: white;
}

.fileInput {
  display: none;
}

.folderIcon,
.fileUploadIcon {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
}

.filesFolders{
    background-color: white;
    min-height: 100vh;
}

.emptyState{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    text-align: center;
}

.emptyText{
    font-size: clamp(1rem,28px,30px);
    font-weight: bold;
}

.emptyLottie{
    max-width: 500px;
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.dialog:open {
  width: 500px;
  min-height: 250px;
  max-height: 300px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.dialogHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.closeDialogButton {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.dialog input {
  width: 100%;
  border: 1px solid black;
  padding: 0.5rem;
  padding-bottom: 2px;
}

.createFolderButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.createFolderButton {
  padding: 0.4rem 1.8rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

/* File upload dialog */

.fileUploadDialog{
    gap: 1rem;
}

.fileList {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.fileItem {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.delete {
  cursor: pointer;
  border: none;
  background-color: rgb(255, 67, 67);
  padding: 0 1rem;
  text-align: center;
  color: white;
  transition: background-color 0.3s ease-in, transform 0.3s ease-in;
  border-radius: 5px;
}

.upload {
  cursor: pointer;
  width: fit-content;
  align-self: center;
  padding: 0.25rem 2.5rem;
  font-size: 1.2rem;
  border: none;
  background-color: rgb(114, 170, 30);
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease-in, transform 0.3s ease-in;
}

.upload:hover {
  background-color: rgb(93, 139, 25);
  transform: translateY(-3px);
}

.delete:hover{
    background-color:rgb(254, 106, 106);
  transform: translateY(-3px);
}

.error {
  color: red;
}

@media (max-width: 900px) {
  .leftSide {
    width: fit-content;
  }
  .leftNavText {
    display: none;
  }
}
