.authhome{
    display: flex;
}

.leftSide{
    flex: 0.2;
    display: flex;
    flex-direction: column;

}

.rightSide{
    flex: 0.8;
}

.miniNav{
    display: flex;
    justify-content: space-between;
}

.sortView{
    display: flex;
    gap: 0.5rem;
}

.upload, .import{
    cursor: pointer;
}

.fileInput{
    display: none;
}