:root{
  --hover: rgb(229, 229, 229);
}
.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

input {
  padding: 1rem 0.5rem;
  width: clamp(250px, 400px, 50vw);
  font-size: 1.2rem;
  outline: none;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid rgb(165, 165, 165);
  padding-bottom: 0.1rem;
}

.loginbutton {
  padding: 0.5rem 3rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 20px;
  width: clamp(250px, 400px, 50vw);
  background-color: black;
  color: white;
  transition: backgorund-color 0.3s ease;
}

.loginbutton:hover{
  background-color: rgb(80, 80, 80);
}

.loginbutton:active {
  background-color: gray;
}

.signupSpan {
  cursor: pointer;
  color: blue;
}

.error {
  color: red;
}
