.signup {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.signupform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.signupsvg {
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
}

.signupcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

input {
  padding: 1rem 0.5rem;
  width: clamp(250px, 300px, 50vw);
  font-size: 1.2rem;
  outline: none;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid rgb(165, 165, 165);
  padding-bottom: 0.1rem;
}

.signupbutton {
  padding: 0.5rem 3rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: backgorund-color 0.3s ease, transform 0.3s ease;
}

.signupbutton:hover {
  background-color: rgb(229, 229, 229);
  transform: translateY(-3px);
}

.loginSpan {
  cursor: pointer;
  color: blue;
}

.error {
  color: red;
}


@media (max-width: 850px) {
  .signup{
    flex-direction: column-reverse;
    justify-content: flex-end;
     gap: 2rem;
  }
  .signupsvg{
    max-width: 300px;
    max-height: 300px;
  }
}