.card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.details {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.file,
.folder {
  width: 25px;
  height: 25px;
}

.textDetails{
  font-size: small;
}

.name{
  font-weight: 500;
}

.info{
  font-weight: 200;
}

.moreContainer {
  display: flex;
  align-items: center;
}

.more {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.moreIcon {
  width: 30px;
  height: 30px;
}
