.card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.details {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.file,
.folder {
  width: 25px;
  height: 25px;
}

.moreContainer{
    display: flex;
    align-items: center;
}

.more {
  padding: 0;
  border: none;
  background-color: transparent;
}
.moreIcon{
    width: 30px;
    height: 30px;
}
