.icon {
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
}

th, td {
  padding: 12px 10px;
  vertical-align: middle;
}

th{
    border-bottom: 1px solid;
}

td{
    border-bottom: 1px #F5F5F5;
}


.row{
transition: background-color 0.3s ease;
}
.row:hover{
    background-color: rgb(246, 245, 245);
}

.rowItem{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.more {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.moreIcon{
    width: 30px;
    height: 30px;
}

/* The items */
.folder,.file{
    cursor: pointer;
}