.icon {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
}

th, td {
  padding: 12px 10px;
}

th{
    border-bottom: 1px solid;
}

td{
    border-bottom: 1px #F5F5F5;
}


.row{
transition: background-color 0.3s ease;
}
.row:hover{
    background-color: var(--hover);
}

.rowItem{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* The items */
.folder,.file{
    cursor: pointer;
}