.previewDialog:open{
    height: 95vh;
    width: 95vh;
    display: flex;
    flex-direction: column;
    border: none;
}

.content{
    flex: 1;
}

.contentItem{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.unsupportedFile{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* header */
.closeButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.closeButton:hover{
    background-color: rgb(225, 225, 225);
}