.mobileView {
  display: none;
  flex-direction: column;
  min-height: 90vh;
  position: relative;
}

.nav {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.name {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0.1rem 0.12rem;
}

.name:hover {
  background-color: #d1d1d1;
}

.filter {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.filterIcon {
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease;
}

.filterIcon:hover {
  transform: scale(1.1);
}

.dropDown {
  display: none;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* header */
.backButtonContainer {
  padding-top: 2rem;
}

.backButton {
  padding: 0;
  background-color: transparent;
  border: none;
}
.backIcon {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.backIcon:hover {
  background-color: #d1d1d1;
}

.folderName {
  text-align: center;
  font-size: 2rem;
}

.mobileEmptyState {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  text-align: center;
}

.emptyLottie {
  max-width: 500px;
}

.addContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  padding: 0;
  border: none;
  background: linear-gradient(
    to bottom,
    #1e5799 0%,
    #2989d8 50%,
    #207cca 51%,
    #7db9e8 100%
  );
}

.addIcon {
  width: 30px;
  height: 30px;
}

.search{
    flex: 1;
    padding: 0 15px;
    height: 50px;
    max-width: 400px;
    border-radius: 20px;
}

@media (max-width: 620px) {
  .mobileView {
    display: flex;
  }
}
