.mobileView {
  display: none;
  flex-direction: column;
  min-height: 90vh;
  position: relative;
  background-color: white;
  padding: 0 0.5rem;
}

.nav {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.sortContainer{
  position: relative
}

.dropDown {
  display: none;
  flex-direction: column;
  position: absolute;
  width: max-content;
  top: 150%;
}

.sort{
  display: flex;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-align: left;
  gap: 0.5rem;
  align-items: center;
}

.sortButton {
  display: flex;
  align-items: center;
  gap: 2px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0.1rem 0.12rem;
}

.sortIcon{
  height: 15px;
}

.sortButton:hover {
  background-color: #d1d1d1;
}

.filter {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.filterIcon {
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease;
}

.filterIcon:hover {
  transform: scale(1.1);
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

/* header */
.backButtonContainer {
  padding-top: 2rem;
}

.backButton {
  padding: 0;
  background-color: transparent;
  border: none;
}
.backIcon {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.backIcon:hover {
  background-color: #d1d1d1;
}

.folderName {
  text-align: center;
  font-size: 2rem;
}

.loading{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingLottie{width: 300px;
height: 50px;}

.mobileEmptyState {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  text-align: center;
}

.emptyLottie {
  max-width: 500px;
}

.addContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: sticky;
  width: 100%;
  bottom: 50px;
}

.addButton {
  display: flex;
  justify-self: end;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  padding: 0;
  border: none;
  background: linear-gradient(
    to bottom,
    #1e5799 0%,
    #2989d8 50%,
    #207cca 51%,
    #7db9e8 100%
  );
  cursor: pointer;
}

.addIcon {
  width: 30px;
  height: 30px;
}

.search {
  /* display: none; */
  flex: 1;
  padding: 0 15px;
  height: 50px;
  max-width: 400px;
  border-radius: 20px;
  border: 1px solid black;
}

/* The add folder/file */
.folderIcon,
.fileUploadIcon {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
}

.fileInput {
  display: none;
}

.containerButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  gap: 0.5rem;
  min-width: max-content;
  background-color: transparent;
  cursor: pointer;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  width: 120px;
}

.containerButton:hover {
  background-color: #E0E0E0;
}

.fileUploadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.addItemDialog{
  border-radius: 20px;
  border: none;
}

/* More dialog */
.moreDialog {
  border: none;
  border-radius: 20px;
}

.moreDialogContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 300px;
  min-width: 250px;
}

.moreDialogIcon {
  width: 50px;
  height: 50px;
}

.moreDialogHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.moreDialogButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.moreDialogButton:last-child:nth-child(odd) {
  grid-column: 1 / -1;
}

.moreDialogButton {
  cursor: pointer;
  border: none;
  padding: 1rem 0;
  border-radius: 10px;
  color: white;
  background-color: #0078D4;
  transition: background-color 0.3s ease;
}

.moreDialogButton:hover{
  background-color: #1881d2;
}

.activeIcon{
  width: 15px;
  height: 20px;
}

@media (max-width: 620px) {
  .mobileView {
    display: flex;
  }
}
