.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    padding-bottom: 0;
}

.logo{
    font-size: 20px;
    cursor: pointer;
    color: black;
    font-weight: 600;
}

.authButtons{
    display: none;
}

.navbarbuttons{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.navbarbutton{
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    font-size: clamp(16px, 18px, 2rem);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.navbarbutton:hover{
    background-color: var(--hover);
}

.logout{
    width: 20px;
    height: 20px;
}

.logout,.username{
    cursor: pointer;
}

.logout{
    transition: transform 0.3s ease;
}

.logout:hover{
    transform: scale(1.05);
}

.username{
    font-size: 1.1rem;
    padding: 0.5rem;   
    border-radius: 10px; 
    transition: background-color 0.3s ease;
}

.username:hover{
    background-color: var(--hover);
}

@media (max-width: 440px ) {
    .navbarbutton{
        padding: 0;
    }
    .navbarbutton:hover{
        background-color: transparent;
    }
}