.renameDialog:open {
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.title {
  align-self: center;
}

.title p{
    font-size: 1.2rem;
}

.buttons {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
    background-color: #0078D4;
  transition: background-color 0.3s ease;
}

.button:hover{
  background-color: #1881d2;
}