.dialog:open {
  width: 500px;
  min-height: 250px;
  max-height: 300px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.fileUploadDialog {
  gap: 1rem;
}

.fileUploadTitle {
  margin: 0;
}

.fileList {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.fileItem {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.delete {
  cursor: pointer;
  border: none;
  background-color: rgb(255, 67, 67);
  padding: 0 1rem;
  text-align: center;
  color: white;
  transition: background-color 0.3s ease-in, transform 0.3s ease-in;
  border-radius: 5px;
}

.delete:hover {
  background-color: rgb(254, 106, 106);
  transform: translateY(-3px);
}

.upload {
  cursor: pointer;
  width: fit-content;
  align-self: center;
  padding: 0.25rem 2.5rem;
  font-size: 1.2rem;
  border: none;
  background-color: rgb(114, 170, 30);
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease-in, transform 0.3s ease-in;
}

.upload:hover {
  background-color: rgb(93, 139, 25);
  transform: translateY(-3px);
}